<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .login-box {
            margin-top: 180px;
        }

        .vCode {
            height: 32px;
        }
    </style>
</head>

<body>
    <div class="container login-box">
        <div class="rows">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录学生管理系统</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="/manager/login" method="post">
                            <div class="form-group">
                                <label for="userName" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <input type="text" name="userName"  class="form-control" id="userName" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password"  class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vCode" class="col-sm-2 control-label">验证码</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="vCode" name="vCode" placeholder="请输入验证码">
                                </div>
                                <div class="col-sm-4">
                                    <img class="vCode" src="/manager/vCode" alt="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">登录</button>
                                    <a href="/manager/register" type="submit" class="btn btn-danger">注册</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bootstrap/js/jquery-1.12.4.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $('.vCode').on("click",function(){
        // 必须拼接随机数据发送请求.如果点击请求数据未发生任何改变,系统默认不会发送该请求
        $(this).attr("src","/manager/vCode?"+Date.now());
    })
</script>